.container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: create;
  border: 2px solid blue;
  background-color: orange;
  justify-items: center;
}

#f_name {
  grid-area: f_name;
  border: 2px solid red;
}

#l_name {
  grid-area: l_name;
  border: 2px solid green;
}

#username {
  grid-area: username;
  border: 2px solid purple;
}

#email {
  grid-area: email;
  border: 2px solid orange;
  background-color: blue;
  justify-items: center;
}

.footer {
  grid-area: footer;
  border: 2px solid pink;
}

@media screen and (min-width: 750px) {
  .container {
    grid-template-columns: auto;
    grid-template-areas:
      "header header header header"
      "logo logo logo logo"
      "logo logo logo logo"
      "logo logo logo logo"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "login login create create"
      "login login create create"
      "footer footer footer footer";
  }
}

@media screen and (max-width: 750px) {
  .container {
    grid-template-columns: auto;
    grid-template-areas:
      "header header header header"
      "logo logo logo logo"
      "logo logo logo logo"
      "logo logo logo logo"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "login login login login"
      "login login login login"
      "create create create create"
      "create create create create"
      "footer footer footer footer";
  }
}
