
*{
  box-sizing: border-box;
}

body{
  background: #fff;
  color: #485e74;
  line-height: 1.6;
  font-family: sans-serif;
  padding: 1em;
}

.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.brand{
  text-align: center;
}

.wrapper{
  box-shadow: 0 0 10px #cdd2d8;

}

.wrapper > *{
  padding: 1em;
}

.logo{
  background: #C8C8C8;
}

.logo h3{
  text-align: center;
  nmargin: 0 0 1rem 0;
}

.create{
  background: #fff;
}

.create h3{
  text-align: center;
}

.create form{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.create form p{
  display: block;
  margin: 0;
}

.create form .full button{
  width: 100%;
  padding: 1em;
  background: #C8C8C8;
  text-transform: uppercase;
  border-radius: 10%;
  border: 1px solid darkblue;
}

.create form input, .create form .full button{
  width: 100%;
  padding: 1em;
  grid-column: 1/2;
}

.create .full button:hover{
  background: #484848;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}
