
*{
  box-sizing: border-box;
}

body{
  background: #fff;
  color: #485e74;
  line-height: 1.6;
  font-family: sans-serif;
  padding: 1em;
}

.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.brand{
  text-align: center;
}

.wrapper{
  box-shadow: 0 0 20px grey;
}

.wrapper > * {
  padding: 1em;
}

.cool-image{
  background: #C8C8C8;
}

.cool-image h3 {
  text-align: center;
}

.login{
  background: #fff;
}

.login form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.login form p{
  display: block;
  margin: 0;
}

.login form .username, .login form .password, .login form .submit, .login form .create {
  grid-column: 1/3;
}

.login form button{
  width: 100%;
  padding: 1em;
  background: #C8C8C8;
  text-transform: uppercase;
  border-radius: 10%;
  border: 1px solid darkblue;
}

.login form input {
  width: 100%;
  padding: 1em;
  background: #fff;
}

.login form button:hover{
  background: #484848;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.login .create button:hover{
  background: #484848;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/*Large Screens*/

@media(min-width:700px){
  .login{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }

  .login form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/3;
    width: 100%;
  }

  .login .submit {
    display: inline-block;
    grid-column: 1/2;
    width: 50%;
  }

  .login .create {
    display: inline-block;
    grid-column: 2/3;
    width: 50%;
  }
}
