.container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
}

.legend {
  position: absolute;
  top: 15px;
  left: 30px;
  background-color: hsla(0,0%,100%,.9);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.header {
  grid-area: header;
  border: 2px solid red;
}

.main {
  grid-area: main;
  border: 2px solid purple;
}

.footer {
  grid-area: footer;
  border: 2px solid pink;
}

body {
  font: 10px sans-serif;
}

.chart {
  display: inline-block;
  background: #fff;
}

p {
  font: 12px helvetica;
}

.axis {
  font: 14px sans-serif;
  color: black;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

button {
  position: absolute;
  right: 50px;
  top: 10px;
}

@media screen and (min-width: 750px) {
  .container {
    grid-template-columns: auto;
    grid-template-areas:
      "header header header header"
      "header header header header"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "footer footer footer footer"
      "footer footer footer footer";
  }
}

@media screen and (max-width: 750px) {
  .container {
    grid-template-columns: auto;
    grid-template-areas:
      "header header header header"
      "header header header header"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "footer footer footer footer"
      "footer footer footer footer";
  }
}
