*{
  box-sizing: border-box;
}

body{
  background: url(../images/cloudvu.jpg);
  color: #485e74;
  line-height: 1.6;
  font-family: sans-serif;
  padding: 1em;
}

#newUserForm{
  display: none;
}

#loginForm{
  display: none;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.buttonDiv{
    display: grid;
  }

.justButtons{
  background-color: #A9A9A9;
  opacity: .5;
  border: none;
  color: white;
  margin: 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: grid;
  font-size: 16px;
}


.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
/*
#nav {
  list-style-type: none;
  text-align: right;
  margin: none;
}*/

.brand{
  text-align: center;
}

.wrapper{
  box-shadow: 0 0 20px grey;
}

.wrapper > * {
  padding: 1em;
}

.cool-image{
  text-align: center;
}

.cool-image h3 {
  text-align: center;
}

.login{
  background: #fff;
  opacity: 0.5;
}

.login form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.login form p{
  display: block;
  margin: 0;
}

.login form .username, .login form .password, #submit, #create {
  grid-column: 1/3;
}

.login form button{
  width: 100%;
  padding: 1em;
  background: #C8C8C8;
  text-transform: uppercase;
  border-radius: 10%;
  border: 1px solid darkblue;
}

.login form input {
  width: 100%;
  padding: 1em;
  background: #fff;
}

#submit button:hover{
  background: #484848;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

#create button:hover{
  background: #484848;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/*Large Screens*/

@media(min-width:700px){
  .login{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  .buttonDiv{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }

  .login form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30% 30% 40%;
    grid-column: 2/3;
    width: 100%;
  }

  #submit {
    display: block;
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    border: 1;
    margin-left: auto;
    margin-right: auto;
  }

#create {
    display: inline-block;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
  }
}
