@import url('https://fonts.googleapis.com/css?family=Montserrat');

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
  }

h1 {
  grid-column: 1/2;
  margin-bottom: 0;
}

ul {
  display: block;
  text-align: right;
  grid-column: 2/3;
  list-style-type: none;
  margin-bottom: 0;
}

.trigger {
  display: block;
}

#trigger-c {
  display: none;
}

.marker {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content h5 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  text-align: center;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-nav-compass {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.mapboxgl-canvas-container.mapboxgl-interactive:active,
.mapboxgl-ctrl-nav-compass:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}


/*.location-input {
  right: 22px;
  font-family: 'Advent Pro', sans-serif;
  display: block;
  color: #FFFFFF;
  position: absolute;
  top: 16%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  opacity: 0.9;
}*/

/*.location-info:before {
  opacity: .5;
  z-index: 4;
  background-color: blue;
}*/

.location-info {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  display: none;
  margin: -100px 0 0 -150px;
  background-color: rgba(168, 201, 255, 0.3);
  text-align: center;
  line-height: .7em;
}

/*.location-info:after {
  opacity: .1;
}*/

.fav-loc {
  color: black;
  z-index: 5;


}

.location-input .location-input-item {
  margin: 20px;
  border: none;
  width: 80%;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  border-bottom: 1px solid #640808;
  padding: 10px;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 40px 30px #202020;
  -moz-box-shadow: 0px 0px 40px 30px #202020;
  box-shadow: 0px 0px 25px 14px #202020;



}
.mapboxgl-canvas-container.mapboxgl-touch-drag-pan {
    -ms-touch-action: pinch-zoom;
}
/*.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan {
    -ms-touch-action: none;
    touch-action: none;
}*/
