@import url('https://fonts.googleapis.com/css?family=Montserrat');

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
  }

h1 {
  grid-column: 1/2;
  margin-bottom: 0;
}

ul {
  display: block;
  text-align: right;
  grid-column: 2/3;
  list-style-type: none;
  margin-bottom: 0;
}

.trigger {
  display: block;
}

#trigger-c {
  display: none;
}

.marker {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content h5 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  text-align: center;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-nav-compass {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.mapboxgl-canvas-container.mapboxgl-interactive:active,
.mapboxgl-ctrl-nav-compass:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
}
.mapboxgl-canvas-container.mapboxgl-touch-drag-pan {
    -ms-touch-action: pinch-zoom;
}
/*.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan {
    -ms-touch-action: none;
    touch-action: none;
}*/
